@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  margin: 0;
  background: var(--background-rgb);
  font-family: Lato !important;
  font-weight: 400 !important;
}

code {
  @apply px-2 py-1 bg-gray-100 rounded text-sm text-black
}
